
* {
    margin: 0;
    padding: 0;
  
  }
  

  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: #f9f9f9;
  }
  
  .container {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
  }

  .nav-menu {
    float: right;
  }
  
  .nav-menu li a {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
  }
  .nav-menu li a:hover{
    color: black;
    text-decoration:overline;
  }

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensure it's above other content */
    background-color: #2e8336df;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 1px;
  }
  
  .harv h1 {
    font-family: cursive;
    font-size: 30px;
    margin-left: 9px;
    margin-bottom: 1px;
  }
  
  .nav-menu {
    float: right;
  }
  
  .nav-menu li {
    display: inline-block;
    margin-left: 20px;
  }
  
  .nav-menu li:first-child {
    margin-left: 0;
  }
  
  .nav-menu li a {
    color: #fff;
    text-decoration: none;
  }
  
  .about {
    padding: 50px 0;
    background-image: url("bg12.jpg");
    margin-top: 100px;
  }
  
  .about h1 {
    font-size: 50px;
    margin-bottom: 20px;
    font-family: cursive;
    text-align: center;
  }
  
  .about p {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }
  
  .footer-links {
    margin-bottom: 10px;
  }
  
  .footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .social-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
  }
  