* {
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
html {
	height: 100%;
}

body {
	font-family: cursive, sans-serif;
	/* background-color: #f9f9f9; */
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-image: url("loginbg.jpg");
	background-size: cover;
	background-position: center;
}
.login-box {
	width: 400px;
	padding: 40px;
	box-sizing: border-box;
	text-shadow: 1px 1px 5px rgba(0,0,0,0.3);
	box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
	border-radius: 10px;
	opacity: 0;
	animation: fadeInUp 0.5s forwards, scaleUp 0.3s 0.5s forwards;
	display: flex;
	flex-direction: column;
	align-items: center;
    background-color: #d0d0d098;
	border-radius: 8px;
    padding: 20px;
    width: 400px;
    min-height: fit-content;
      
}

@keyframes fadeInUp {
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes scaleUp {
	from {
		transform: scale(0.9);
	}

	to {
		transform: scale(1);
	}
}

.login-box h2 {
	margin: 0 0 30px;
	padding: 0;
	color: #060606;
	text-align: center;
}

.select-box {
	position: relative;
	margin-bottom: 20px;
	text-align: center;
	
}

.select-box select {
	width: 100%;
	padding: 12px 100px 12px 100px;
	font-family: cursive;
	font-size: 16px;
	border: none;
	border-radius: 5px;
	background-color: rgb(255, 255, 255);
	margin-bottom: 10px;
	color: #0f0f0f;
	transition: background-color 0.2s, transform 0.2s;
}


.user-box {
	position: relative;
	margin-bottom: 15px;
	text-align: center;
	
}


.user-box input {
	width: 100%;
	padding: 12px;
	font-size: 18px;
	font-family: cursive;
	border: none;
	border-radius: 5px;
	background-color: rgb(255, 255, 255);
	margin-bottom: 20px;
	color: #070000;
	transition: background-color 0.2s, transform 0.2s;
}

.forgot-password {
	text-align: center;
	color: #030303;
	text-decoration: none;
	font-size: 17px;
	margin-top: 5px;
	border: 2px solid rgb(47, 5, 233);
	display: inline-block;
	background-color: #007bff;
	
	padding: 9px 10px 9px 10px;
	border-radius: 8px;
	cursor: pointer;
	transition: background-color 0.2s;
	position: relative;
	margin-left: 20px;
}



.forgot-password:hover {
	background-color: #0056b3;
	background: linear-gradient(#006992, #520ee6);
}

/* Add this style for the "Submit" button */
.login-box a:last-child {
	margin-top: 20px;
}

.submit-button {
	background-color: #007bff;
	color: #070707;
	padding: 9px 50px 9px 50px;
	border: 2px solid rgb(47, 5, 233);
	border-radius: 8px;
	font-family: cursive;
	font-size: 17px;
	cursor: pointer;
	transition: background-color 0.2s;
	text-align: center;
	/* margin-right: 50px; */
}

.submit-button:hover {
	/* background-color: #0056b3; */
	background: linear-gradient(#006992, #520ee6);
}
.new-user-text{
	font-size: 17px;
	color: rgb(15, 15, 15);
}
.new-user-text{
	margin-left: 30px;
	margin-right: 65px;
	text-decoration: none;
}